FORMAT: 1A
HOST: https://sqldep.com/

# SQLdep API

# Group QueryFlow

## /api/batch/

### POST

Submit your SQL statements and let SQLdep compute metadata. With headers authentication

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

    + Body

        {
            "dialect": "oracle",                            // * Required; options: 'oracle', 'generic', 'redshift', 'teradata', 'vertica', 'mssql', 'tsql', 'postgres'
            "customSqlSetName": "",                         // Optional; when empty hash value will be generated; allowed characters [a-Z0-9_]
            "is_shared": true,                              // Optional; should the result be shared within your team? true or false
            "caseSensitivity": "disabled",                  // Optional; if 'enabled', result has case-sensitive object names; otherwise (default) everything is changed to uppercase
            "queries" : [
                {
                    "sourceCode": "select * from table1",    // * Required; a) must be valid SQL command without futher editing
                                                             //             b) must contain one or more valid SQL commands
                                                             //             c) multi-line formating is allowed
                    "name": "",                              // Optional; for visualization purposes - use your internal name if available
                    "groupName": "",                         // Optional; for visualization purposes - use your internal name if available
                    "database": "",                          // Optional; specify database name (needs to match to databaseModel if used)
                    "schema": "",                            // Optional; specify default schema name (needs to match to databaseModel if used)
                    "executionUser": ""                      // Optional; alternative name for the "schema" field
                },
                {
                    "sourceCode": "select * from table2",
                    ...
                },
                ...
            ],
            "databaseModel" : {                                                 // Optional; you can omit this section completely
                "databases" : [
                    {
                        "name": "LIVE",                                         // * Required; name of the database, avoid using duplicate names (only the first occurrence is going to be processed)
                        "tables": [
                            {
                                "schema": "ETL_SCHEMA",                         // * Required; name of the schema for the table/view
                                "name": "ACCOUNTS",                             // * Required; name of the table/view, avoid using duplicate names (only the first occurrence is going to be processed)
                                "isView": false,                                // Optional; true => view, otherwise => table
                                "columns": [                                    // Columns are processed sequentially, provide them in the same order as in your table/view
                                    {
                                        "name": "ACC_ID",                       // * Required; name of the column, avoid using duplicate names (only the first occurrence is going to be processed)
                                        "dataType": "NUMBER(10)",               // Optional; column data type
                                        "comment": "Unique account identifier"  // Optional; column comment if available
                                    },
                                    {
                                        "name": "ACC_OPEN_DATE",
                                        "dataType": "DATE",
                                        "comment": "Date when the account was open"
                                    },
                                    ...
                                ]
                            },
                            ...
                        ],
                        "synonyms" : [                          // Optional; omit this or leave it empty if you do not use any synonyms
                            {
                                "schema": "DW_SCHEMA",          // * Required; Name of the synonym schema
                                "name": "ACCOUNTS",             // * Required; Synonym name, avoid using duplicate names (only the first occurrence is going to be processed)
                                "sourceName": "ACCOUNTS",       // * Required; Table/view name
                                "sourceSchema": "ETL_SCHEMA",   // Optional; Name of the schema for source table/view
                                "sourceDbLinkName": ""          // Optional; Database link for source table/view
                            },
                            ...
                        ],
                        "dblinks" : [                            // Optional; links to other databases
                            {
                                "owner" : "",
                                "name" : "",
                                "userName" : "",
                                "host" : ""
                            },
                            ...
                        ]
                    }
                ]
            },
            "sqldep-dataflows": [                   // Optional; Predefined custom dataflows
                {
                    "source": {                     // * Required; Fully-qualified source column of a dataflow
                        "column": "ACC_ID",         // * Required; Column name
                        "table": "ACCOUNTS",        // * Required; Table name of the column
                        "schema": "ETL_SCHEMA",     // * Required; Schema name of the table
                        "database": "LIVE"          // * Required; Database of the schema
                    },
                    "target": {                     // * Required; Fully-qualified target column of a dataflow
                        "column": "USER_ID",        // * Required; The same as above...
                        "table": "ACCOUNTS_LOG",    // * Required
                        "schema": "ETL_SCHEMA",     // * Required
                        "database": "LIVE"          // * Required
                    }
                },
                ...
            ]
        }


+ Response 201 (application/json)

    + Body

        {
            "slug": "some-batch-slug--parameter-for-GETs",                            
            "urlToVisualisation" : "https://app.sqldep.com/..."
        }

+ Response 400 (application/json)

    + Body

        {
            "dialect": ["This field is required."],
            ...
        }


### DELETE

Delete batch (specified by the query parameter `batch_slug`) or multiple batches (the other query parameters).

+ Parameters

    + batch_slug: `ea042381-5130-467d-8ab2-094c04bdf3ea` (optional) - The slug of a batch that will be deleted.
    + batch_name: `MyBatch` (optional) - The name (title) of batches that will be deleted.
    + delete_from: `2017-02-01T00:00:00` (optional, datetime) - The date and time from the batches will be deleted – the creation date and time is greater or equal than this value. (Default: no filtering.)
    + delete_to: `2017-11-19T14:32:01` (optional, datetime) - The date and time to the batches will be deleted – the creation date and time is lesser or equal than this value. (Default: no filtering.)
    + is_shared: true (optional, boolean) - Delete only shared or private batches? (Default: delete batches of both kinds.)

+ Request
    At least one of `batch_slug`, `batch_name`, `delete_from`, `delete_to` query parameters needs to be provided.

    Examples of the URLs:

    - `/api/batch/?batch_slug=ea042381-5130-467d-8ab2-094c04bdf3ea`
    - `/api/batch/?batch_name=MyBatch`
    - `/api/batch/?delete_from=2017-02-01T00:00:00&is_private=false`

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    + Body

        {
            "deleted_slugs": [ // list of the slugs of deleted batches
                "ea042381-5130-467d-8ab2-094c04bdf3ea"
            ]
        }

+ Response 400 (application/json)

    + Body

        {
            "errors": [
                "an error message"
            ],
            ...
        }


# Batch objects

## /api/batch/<batch_slug>/objects/

### GET

Get batch objects in tree structure.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    {
        "slug": "20151125T091111.087087",
        "title": "Demo visualization",
        "objects": {
            "databases": [{
                "name": "DEMO",
                "schemas": [{
                    "tables": [{
                        "name": "IN.ARTICLE_OVERVIEWOPTIONS",
                        "columns": [{
                            "name": "CUST_APPLICATION_ID"
                        }, {
                            "name": "INSIGHT_OPTION_ID"
                        }]
                    }, {
                        "name": "IN.COMPONENTS",
                        "columns": [{
                            "name": "ID"
                        }, {
                            "name": "SYSTEM_ID"
                        }, {
                            "name": "FOUNDER_NAME"
                        }]
                    }, {
                        "name": "IN.CONTENTPOST_PAIRS",
                        "columns": [{
                            "name": "VALUE"
                        }, {
                            "name": "CUST_APPLICATION_ID"
                        }, {
                            "name": "NAME"
                        }]
                    }, {
                        "name": "IN.EVENT",
                        "columns": [{
                            "name": "ID"
                        }, {
                            "name": "CUST_APPLICATION_ID"
                        }, {
                            "name": "USER_ID"
                        }]
                    }, {
                        "name": "IN.OVERVIEWOPTION",
                        "columns": [{
                            "name": "ID"
                        }, {
                            "name": "CUSTOMER_CONSOLIDATED_ID"
                        }]
                    }, {
                        "name": "IN.REJECTIONREASON",
                        "columns": [{
                            "name": "ID"
                        }]
                    }, {
                        "name": "IN.SYSTEM",
                        "columns": [{
                            "name": "CUSTOMER_CONSOLIDATED_ID"
                        }, {
                            "name": "ID"
                        }]
                    }],
                    "name": "INBOUND"
                }, {
                    "tables": [{
                        "name": "OUT.CONVERSATION",
                        "columns": [{
                            "name": "ID"
                        }]
                    }, {
                        "name": "OUT.FORMS_VALUES",
                        "columns": [{
                            "name": "ID"
                        }, {
                            "name": "CUSTOMER_OBJECT_ID"
                        }, {
                            "name": "CUSTOMERID"
                        }]
                    }, {
                        "name": "OUT.FOUNDER",
                        "columns": [{
                            "name": "ID"
                        }, {
                            "name": "NAME"
                        }, {
                            "name": "CUSTOMERID"
                        }]
                    }, {
                        "name": "OUT.OBJECTS",
                        "columns": [{
                            "name": "ID"
                        }, {
                            "name": "CONVERSATION_ID"
                        }, {
                            "name": "CONS_ID"
                        }, {
                            "name": "ARTICLE_FULL_URL"
                        }]
                    }, {
                        "name": "SQLDEP-CONSTANT",
                        "columns": [{
                            "name": "SQLDEP-CONSTANT"
                        }, {
                            "name": "SQLDEP-CONSTANT"
                        }, {
                            "name": "SQLDEP-CONSTANT"
                        }]
                    }],
                    "name": "OUT"
                }]
            }]
        }
    }


# Batch object with column occurrences

## /api/batch/<batch_slug>/objects/occurrences/

### GET

Get batch objects in tree structure with column occurrences. Please note, this end point is ment for experimental purposes only, not for production use.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    {   
        "slug": "20151125T091111.087087",
        "title": "Demo visualization",
        "objects": {
            "databases": [{
                "name": "DEMO",
                "schemas": [{
                    "name": "INBOUND",
                    "tables": [{
                        "name": "IN.ARTICLE_OVERVIEWOPTIONS",
                        "columns": [{
                            "name": "CUST_APPLICATION_ID",
                            "occurrences": {
                                "my-query-1": { // this column creates 1 direct and 2 indirect relations in query `my-query-1` (the name is taken from `queries[*].name` - see `POST /api/batch/`)
                                    "dir": 1,
                                    "indir": 2
                                },  
                                "my-query-2": { // ... and also creates 2 direct only relations in other query `my-query-2`
                                    "dir": 2
                                }   
                            }   
                        }, {
                            "name": "INSIGHT_OPTION_ID",
                            "occurrences": {} // no relations created by this column
                        }]  
                    }]  
                }]  
            }]  
        }   
    }   


# Batch relations

## /api/batch/<batch_slug>/relations/

### GET

Get count and url of batch relations.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)
    
    {
        "slug": "ea042381-5130-467d-8ab2-094c04bdf3ea",
        "title": "Demo",
        "relations": {
            "tables": {
                "count": 120,
                "url": "https://sqldep.com/api/batch/ea042381-5130-467d-8ab2-094c04bdf3ea/relations/columns/"
            },
            "columns": {
                "count": 3000,
                "url": "https://sqldep.com/api/batch/ea042381-5130-467d-8ab2-094c04bdf3ea/relations/tables/"
            }
        }
    }


# Batch tables relations

## /api/batch/<batch_slug>/relations/tables/

### GET

Get list of batch tables relations.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    {
        "slug": "ea042381-5130-467d-8ab2-094c04bdf3ea",
        "title": "Demo",
        "relations": [{
            "source": {
                "table": "BRIDGE.OBJECTS",
                "schema": "PUBLIC",
                "database": "DEFAULT"
            },
            "type": null,
            "id": 1,
            "query_names":["QUERY1", "QUERY2"],
            "target": {
                "table": "NEGTIVES",
                "schema": "PUBLIC_NEW",
                "database": "DEFAULT"
            }
        }, {
            "source": {
                "table": "TOTALS",
                "schema": "PUBLIC",
                "database": "DEFAULT"
            },
            "type": null,
            "id": 2,
            "query_names":["QUERY3"],
            "target": {
                "table": "PUBLIC.MOOD",
                "schema": "PUBLIC",
                "database": "DEFAULT"
            }
        }]
    }



# Batch columns relations

## /api/batch/<batch_slug>/relations/columns/

### GET

Get list of batch columns relations.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    {
        "slug": "ea042381-5130-467d-8ab2-094c04bdf3ea",
        "title": "Demo",
        "relations": [{
            "source": {
                "column": "CONS_ID",
                "table": "BRIDGE.OBJECTS",
                "schema": "PUBLIC",
                "database": "DEFAULT"
            },
            "type": null,
            "id": 1,
            "query_names":["QUERY1", "QUERY2", "QUERY3"],
            "target": {
                "column": "CONS_ID",
                "table": "NEGTIVES",
                "schema": "PUBLIC_NEW",
                "database": "DEFAULT"
            }
        }, {
            "source": {
                "column": "ID",
                "table": "BRIDGE.OBJECTS",
                "schema": "PUBLIC",
                "database": "DEFAULT"
            },
            "type": null,
            "id": 2,
            "query_names":["QUERY2"],
            "target": {
                "column": "NEGTIVES",
                "table": "NEGTIVES",
                "schema": "PUBLIC_NEW",
                "database": "DEFAULT"
            }
        }]
    }

# Batch status

## /api/batch/<batch_slug>/status/

### GET

Get current status of processing.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    {
        "status": "processed",
        "queries": [{
            "id": 1,
            "status_code": "PARSING_ERROR",
            "name": "01-parsing_err.sql",
            "status_desc": "Unable to proceed with syntax parsing at line ..."
        },{
            "id": 2,
            "status_code": "ANALYZE_ERROR",
            "name": "02-analyze_err.sql",
            "status_desc": "Unknown table name in ..."
        }, {
            "id": 3,
            "status_code": "DONE",
            "name": "03-done.sql",
            "status_desc": "Analysis succeeded, queries 1"
        }, {
            "id": 4,
            "status_code": "PARSING_ERROR",
            "name": "04-other-syntax-error.sql",
            "status_desc": "Unable to proceed with syntax parsing at line ..."
        }],
        "stats": {
            "analyze_error": 1,
            "done": 1,
            "parsing_error": 2
        },
        "slug": "f78563e2-9253-41b3-8144-aa0e41ea882e"
    }

    {
        "status": "failed",
        "message": "fatal failure",
        "slug": "f78563e2-9253-41b3-8144-aa0e41ea882e"
    }

    {
        "status": "running",
        "slug": "f78563e2-9253-41b3-8144-aa0e41ea882e"
    }

## /api/batch/zip/

### POST

Submit your SQL statements in a zip archive.

+ Request (multipart/form-data; boundary=---BOUNDARY)

        -----BOUNDARY
        Content-Disposition: form-data; name="zip[file]"; filename="zipfilename.zip"
        Content-Type: application/zip
        Content-Transfer-Encoding: base64

        UEsDBAoAAAAAACFhZk37F63BEAAAABAAAAAIABwAdGVzdC5zcWxVVAkAA0124V
        tNduFbdXgLAAEE6AMAAAToAwAAc2VsZWN0IGEgZnJvbSBiClBLAQIeAwoAAAAA
        ACFhZk37F63BEAAAABAAAAAIABgAAAAAAAEAAAC0gQAAAAB0ZXN0LnNxbFVUBQ
        ADTXbhW3V4CwABBOgDAAAE6AMAAFBLBQYAAAAAAQABAE4AAABSAAAAAAA=
        -----BOUNDARY

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

    + Body

        {
            "dialect": "oracle",       // * Required (It is optional when sending only .json files)
                                       //   options: 'oracle', 'generic', 'redshift', 'teradata', 'vertica', 'mssql', 'psql', 'postgres'
            "customSqlSetName": ""     // Optional; when empty zip filename will be used; allowed characters [a-Z0-9_]
        }


+ Response 201 (application/json)

    + Body

        {
            "slug": "some-batch-slug--parameter-for-GETs",                            
            "urlToVisualisation" : "https://app.sqldep.com/..."
        }

+ Response 400 (application/json)

    + Body

        {
            "errors": ["", ...]
        }


# Data Structures

## Input (object)

- userAccountId: `7f3e205e-34c9-4791-a343-83988b230d0e` (string, required) - will be provided to you by SQLdep team
- dialect: oracle (enum, required)
    - generic
    - oracle
    - redshift
    - teradata
    - vertica
    - mssql
    - tsql
    - postgres
    - snowflake
- customSqlSetName (string, optional) - when empty hash value will be generated; allowed characters `[a-Z0-9_]`
- queries (array[Query], required)
- databaseModel (DatabaseModel, optional)
- dblinks (array[DBLink])

## Query (object)

- sourceCode: `select * from table1` (string, required)

    a) must be valid SQL command without futher editing
    b) must contain one or more valid SQL commands
    c) multi-line formating is allowed

- name (string, optional) - for visualization purposes - use your internal name if available
- groupName (string, optional) - for visualization purposes - use your internal name if available
- database (string, optional)
- schema (string, optional)
- executionUser (string, optional) - alternative name for the "schema" field

## DatabaseModel (object)

- databases (array[Database])

## Database (object)

- name: LIVE (string, required) - name of the database, avoid using duplicate names (only the first occurrence may be processed)
- tables (array[Table])
- synonyms (array[Synonym])

## Table (object)

- schema: `ETL_SCHEMA` (string, required) - name of the schema for the table/view
- name: ACCOUNT (string, required) - name of the table/view, avoid using duplicate names (only the first occurrence may be processed)
- isView: false (boolean, optional, default) - true => view, otherwise => table
- columns (array[Column]) - columns are processed sequentially, provide them in the same order as in your table/view

## Column (object)

- name: `ACC_ID` (string, required) - name of the column, avoid using duplicate names (only the first occurrence may be processed)
- dataType: `NUMBER(10)` (string, optional) - column data type
- comment: `Unique account identifier` (string, optional) - column comment if available

## Synonym (object)

- schema: `DW_SCHEMA` (string, required) - name of the synonym schema
- name: ACCOUNTS (string, required) - synonym name, avoid using duplicate names (only the first occurrence may be processed)
- sourceName: ACCOUNTS (string, required) - table/view name
- sourceSchema: `ETL_SCHEMA` (string, optional) - name of the schema for source table/view
- sourceDbLinkName (string, optional) - database link for source table/view

## DBLink (object)

- owner : (string, required)
- name : (string, required)
- userName : (string, required)
- host : (string, required)

# Group QueryScope

## /api/qs/batch/

### POST

Create a new batch.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

    + Body

        {
            "dialect": "oracle",           // * Required; options: 'oracle', 'generic', 'redshift', 'teradata', 'vertica', 'mssql', 'tsql', 'postgres'
            "query"  : "select * from table1",  // * Required
            "caseSensitivity": "disabled"  // Optional; if 'enabled', result has case-sensitive object names; otherwise (default) everything is changed to uppercase
        }


+ Response 201 (application/json)

    + Headers
    
        Location: <link_to_the_created_batch> // see GET /api/qs/batch/<batch_slug>/
        
    + Body
    
        {
            "visualization": String // link to visualization of the created batch
        }

## /api/qs/batch/<batch_slug>/

### GET

Retrieve the created batch.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e


+ Response 200 (application/json)

    + Body

        {
            "columns": { // see GET /api/qs/batch/<batch_slug>/columns/ },
            "tables" : { // see GET /api/qs/batch/<batch_slug>/tables/  },
            "positions_map": {
            // Use for searching for object according to its sql code position.
            // Best performance can be achieved for nicely formated sql code
            // (e.g. each selected column on seperate line).
                "columns": {
                    // Array of lines of column positions. The first line
                    // in sql source code is first in the array, second
                    // line is second and so on.
                    // The column positions on their line are sorted to
                    // ensure source column always precedes its alias and
                    // artificial columns like WHERE are always put last.
                    "lines": [[{
                        "id"   : ColumnId, // Id of a column at the position
                        "start": Number,   // Start character position inclusive
                        "end"  : Number    // End character position exclusive.
                                           // Starts from 1. High number is used
                                           // to indicate end of line
                    }]]
                },
                "tables": {
                    // Array of lines of table positions. Contains sub-selects
                    // too. The first line in sql source code is first in the
                    // array, second line is second and so on. Multi-line
                    // elements thus occurs on multiple times in the array.
                    // The table positions on their line are sorted to
                    // ensure nested table precedes enclosing table.
                    "lines": [[{
                        "id"   : TableId, // Id of a table at the position
                        "start": Number,  // Start character position inclusive
                        "end"  : Number   // End character position exclusive.
                                          // Starts from 1. High number is used
                                          // to indicate end of line
                    }]]
                }
            }
        }

+ Response 202 (application/json)

    + Body
        {
            // empty body, the batch not ready yet, try again later
        }

## /api/qs/batch/<batch_slug>/columns/

### GET

Retrieve all columns of the created batch.
NOTE: the url not active yet

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e


+ Response 200 (application/json)

    + Body

        {
            <column_id>: {
                "id"       : Number,       // Column id
                "name"     : String,       // Column name
                "table"    : TableId,      // Parent table id 
                "position" : Number,       // Position in parent table
                "positions": [Position],   // Array of positions of the
                                           // column in sql code; see
                                           // legend below
                "inputs"   : { // Input data flow relations
                    <data_flow_relation_type>: [{   // see legend below
                        "column": ColumnId,         // Source column id
                        "id"    : ColumnRelationId, // Column relation id 
                    }]
                    ...
                },
                "outputs"  : { // Output data flow relations
                    <data_flow_relation_type>: [{
                        "column": ColumnId,         // Target column id
                        "id"    : ColumnRelationId, // Column relation id 
                    }]
                    ...
                }
                "joins"    : [{ // Join relations
                    "column": ColumnId,         // Joined column id
                    "id"    : ColumnRelationId, // Column relation id 
                }]
            },
            ...
        }
        
// Position: [[<start_line>, <start_char>], [<end_line>, <end_char>]]
//      - <start_line> - position of start line inclusive
//      - <start_char> - position of start character inclusive
//      - <end_line>   - position of end line inclusive
//      - <end_char>   - position of end character exclusive
//      - the positions start from 1
//      
// Data flow relation types legend:
//      DFCVT       - relation between two columns
//      DFCVTCONST  - relation between constant and column
//      DFCVTINDIR  - relation between column and artificial
//                    column like WHERE

+ Response 202 (application/json)

    + Body
        {
            // empty body, the batch not ready yet, try again later
        }

## /api/qs/batch/<batch_slug>/tables/

### GET

Retrieve all tables of the created batch.
NOTE: the url not active yet

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e


+ Response 200 (application/json)

    + Body

        {
            <table_id>: {
                "id"       : Number,     // Table id
                "name"     : String,     // Table name
                "columns"  : [ColumnId], // Sorted array of column ids
                "positions": [Position],   // Array of positions of the
                                           // table in sql code; see
                                           // legend below
            },
            ...
        }

// Position: [[<start_line>, <start_char>], [<end_line>, <end_char>]]
//      - <start_line> - position of start line inclusive
//      - <start_char> - position of start character inclusive
//      - <end_line>   - position of end line inclusive
//      - <end_char>   - position of end character exclusive
//      - the positions start from 1

+ Response 202 (application/json)

    + Body
        {
            // empty body, the batch not ready yet, try again later
        }

# Group Data Glossary

##/api/dg/<glossary_slug>/

### GET
Download all metadata from Data Glossary.

+ Request (application/json)

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/json)

    {
   "slug":"8d05af7b-ba71-4319-82c8-5192bd8144ab",
   "title":"Demo vizualization",
   "objects":{
      "databases":[
         {
            "name":"DEMO DATABASE",
            "schemas":[
               {
                  "name":"DEMO SCHEMA",
                  "tables":[
                     {
                        "name":"TABLE1",
                        "object_type":"table",
                        "tags":[
                           "TAG1",
                           "TAG2"
                        ],
                        "custom_section":[
                           {
                              "key":"CSKEYX",
                              "value":"This text is assigned to KEY"
                           }
                        ],
                        "db_desc":null,
                        "user_desc":"This table need to be redesigned",
                        "steward":{
                           "first_name":"Andrew",
                           "last_name":"Nowak",
                           "email":"andre@company.com"
                        },
                        "insertion_time":"2018-08-30 08:36:04",
                        "last_update":"2018-09-02 11:45:21",
                        "row_count":"24",
                        "table_size":"4235",
                        "columns":[
                           {
                              "name":"COL1",
                              "tags":[
                                 "TAG15",
                                 "CHECKED"
                              ],
                              "data_type":"integer",
                              "position":"0",
                              "db_desc":null,
                              "user_desc":"These data uses table X",
                              "insertion_time":"2018-06-30 15:42:07",
                              "last_update":"2018-08-15 08:36:04"
                           },
                           {
                              "name":"COL2",
                              "tags":[
                                 "TAG2"
                              ],
                              "data_type":"integer",
                              "position":"1",
                              "db_desc":null,
                              "user_desc":"redesign of this col is urgent",
                              "insertion_time":"2018-08-30 08:36:04",
                              "last_update":"2018-08-30 08:36:04"
                           },
                           {
                              "name":"COL3",
                              "tags":[
                                 "TAG14",
                                 "TAG45"
                              ],
                              "data_type":"string",
                              "position":"2",
                              "db_desc":null,
                              "user_desc":"redesign of this col is urgent",
                              "insertion_time":"2018-08-30 08:36:04",
                              "last_update":"2018-08-30 08:36:04"
                           }
                        ]
                     },
                     {
                        "name":"TABLE2",
                        "object_type":"table",
                        "tags":[
                           "VERIFIED",
                           "CHECKED"
                        ],
                        "custom_section":[
                           {
                              "key":"INFO",
                              "value":"Information about table usage"
                           }
                        ],
                        "db_desc":null,
                        "user_desc":"Table is ready",
                        "steward":{
                           "first_name":"Paul",
                           "last_name":"Johnson",
                           "email":"johson@company.com"
                        },
                        "insertion_time":"2018-08-30 08:36:04",
                        "last_update":"2018-08-30 08:36:04",
                        "row_count":"2",
                        "table_size":"2012",
                        "columns":[
                           {
                              "name":"DATA_COL",
                              "tags":[
                                 "redesign"
                              ],
                              "data_type":"string",
                              "position":"0",
                              "db_desc":null,
                              "user_desc":"redesign of this col is urgent",
                              "insertion_time":"2018-08-30 08:36:04",
                              "last_update":"2018-08-30 08:36:04"
                           }
                        ]
                     }
                  ]
               }
            ]
         }
      ]
   }
}

### POST

Submit custom metadata of objects and columns to the data glossary identified by a slug. 
You can edit text description, custom section, tags, steward, row count and table size.
Every defined property will overwrite previous value.
+ Request (application/json)
    + Headers
        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e
    + Body
        {
   "slug":"8d05af7b-ba71-4319-82c8-5192bd8144ab",
   "title":"Demo vizualization",
   "objects":{
      "databases":[
         {
            "name":"DEMO DATABASE",
            "schemas":[
               {
                  "name":"DEMO SCHEMA",
                  "tables":[
                     {
                        "name":"TABLE1",
                        "object_type":"table",
                        "user_desc":"This table need to be redesigned",
                        "row_count":"24",
                        "table_size":"4235",
                        "steward":{
                           "first_name":"Andrew",
                           "last_name":"Nowak",
                           "email":"andre@company.com"
                        },
                        "tags":[
                           "TAG1",
                           "TAG2"
                        ],
                        "custom_section":[
                           {
                              "key":"CSKEYX",
                              "value":"This text is assigned to KEY"
                           }
                        ],
                        "columns":[
                           {
                              "name":"COL1",
                              "user_desc":"These data uses table X",
                              "tags":[
                                 "TAG15",
                                 "CHECKED"
                              ],
                           },
                           {
                              "name":"COL2",
                              "user_desc":"redesign of this col is urgent",
                              "tags":[
                                 "TAG2"
                              ],
                           },
                           {
                              "name":"COL3",
                              "user_desc":"redesign of this col is urgent",
                              "tags":[
                                 "TAG14",
                                 "TAG45"
                              ],
                           }
                        ]
                     },
                     {
                        "name":"TABLE2",
                        "object_type":"table",
                        "user_desc":"Table is ready",
                        "row_count":"2",
                        "table_size":"2012",
                        "steward":{
                           "first_name":"Paul",
                           "last_name":"Johnson",
                           "email":"johson@company.com"
                        },
                        "tags":[
                           "VERIFIED",
                           "CHECKED"
                        ],
                        "custom_section":[
                           {
                              "key":"INFO",
                              "value":"Information about table usage"
                           }
                        ],
                        "columns":[
                           {
                              "name":"DATA_COL",
                              "user_desc":"redesign of this col is urgent",
                              "tags":[
                                 "redesign"
                              ],
                           }
                        ]
                     }
                  ]
               }
            ]
         }
      ]
   }
}
+ Response 200 (application/json)
        {   
            'rejected_tables': [], //List of object which were not fount in database thus are unchanged
            'rejected_columns: [], //List of columns which were not fount in database thus are unchanged
            'rejected_cs_keys': [], // List of keys that were rejected (key or object was missing)
            
        }

# Group Miscellaneous

## /api/download_binary/

### GET

Download latest SQLdep binary (available for certain clients only).

+ Request

    + Headers

        Authorization: Token 7f3e205e-34c9-4791-a343-83988b230d0e

+ Response 200 (application/java-archive)

    The content of the SQLdep binary.
